### 문제 1
아래 설명에 맞게 변수를 선언하고 값을 대입하세요.
1. name 이라는 이름의 변수를 선언하고, 당신의 이름을 문자열로 저장하세요.
2. age아는 이름의 변수를 선언하고, 당신의 나이를 숫자로 저장하세요.

In [2]:
name = "정희영"
age = 35

print(name)
print(age)

정희영
35

### 문제 2
다음 조건에 맞게 변수를 작성해보세요
1. height라는 변수에 키를 숫자형으로 저장하세요.
2. dream이라는 변수에 당신의 목표를 문자열로 저장하세요.

In [6]:
height = 165
dream = "돈을 많이 벌자"

print(height)
print(dream)

165
돈을 많이 벌자

### **문제 3**

변수에 담긴 값을 다른 변수에 대입하는 연습을 해봅시다.

1. `city`라는 변수에 **당신이 살고 있는 도시 이름**을 문자열로 저장하세요.

1. `my_city`라는 변수에 `city` 변수의 값을 대입하세요.
2. 두 변수를 각각 `print()`로 출력해보세요.

In [ ]:
city = "서울"
my_city = city
print(city)
print(my_city)

### **문제 4**

다음과 같은 규칙에 맞는 변수를 작성하세요.

1. **사과의 개수**를 나타내는 변수를 `apple_count`로 선언하고 숫자 `10`을 저장하세요.
    
    ---
    
2. **오렌지의 개수**를 나타내는 변수를 `orange_count`로 선언하고 숫자 `20`을 저장하세요.
3. 두 변수를 출력해보세요.

In [7]:
apple_count = 10
orange_count = 20

print(apple_count)
print(orange_count)

10
20

### **문제 5**

다음과 같은 규칙을 지켜 변수를 작성하세요.

1. 변수 이름은 **스네이크 케이스**를 따릅니다.
2. `first_name`에 **당신의 이름의 첫 글자**를 문자열로 저장하세요.
3. `last_name`에 **당신의 성**을 문자열로 저장하세요.

1. `full_name` 변수에 `first_name`과 `last_name`을 이어붙여서 저장하세요.
2. `print()`를 사용해 `full_name`을 출력해보세요.

In [8]:
first_name = "희"
last_name = "정"
full_name = first_name + last_name

print(full_name)

희정